.card {
  opacity: 0;
  height: 252.5px;
  font-size: 0.8rem;
  margin: 12px;
  color: $gray900;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  &__title {
    margin: 5px 0 15px;
    color: $primary;
    font-family: 'Star Jedi';
    font-weight: normal;
    text-transform: lowercase;
  }

  &__list {
    margin: 0;

    dt {
      font-weight: bold;
      text-align: left;
      margin-right: 20px;
    }

    dd {
      display: flex;
      align-items: center;
      margin: 0;
      text-align: right;
      font-size: 80%;
      text-transform: uppercase;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
    &:nth-child(2n+1) {
      background-color: $gray200;
    }
  }

  &__inner-row {
    display: flex;
  }
}