.roulette {
  &__wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  &__container {
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
  }

  &__card {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -110px;
    
    &-back,
    &-front {
      width: 220px;
      height: 300px;
      border-radius: 10px;
      position: relative;
    }

    &-back {
      background-color: #816271;
      background-image: url('./images/imperial_emblem_back.svg');
      background-position: center center;
      background-attachment: scroll; 
      background-repeat: no-repeat;
      background-size: 125px;
      border: 12px solid #c3a38a;
      box-shadow: 0 0 0 9px #816271 inset, 0 0 0 12px #c3a38a inset;
      z-index: 2;
      backface-visibility: hidden;
    }

    &:first-child &-back {
      background-color: #997577;
      background-image: url('./images/imperial_emblem_back_choosable.svg');
      border: 12px solid #f6d6bd;
      box-shadow: 0 0 0 9px #997577 inset, 0 0 0 12px #f6d6bd inset;
    }

    &-front {
      margin-top: -300px;
      z-index: 1;
    }
    
    &--spin {
      animation-name: spin;
      animation-duration: 0.9s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-fill-mode: backwards;
      animation-delay: 0s;

      &:nth-child(2) { animation-delay: 0.3s; }
      &:nth-child(3) { animation-delay: 0.6s; }
    }

    &--stop {
      opacity: 0;
      animation-name: spin, fade-out;
      animation-duration: 0.9s, 0.2s;
      animation-timing-function: linear, linear;
      animation-iteration-count: infinite, 1;
      animation-play-state: paused, running;
      animation-fill-mode: backwards, forwards;
      animation-delay: 0s, 0s;

      &:nth-child(2) { animation-delay: 0.3s, 0s; }
      &:nth-child(3) { animation-delay: 0.6s, 0s; }
    }

    &--selected {
      animation-name: spin, selected;
      animation-duration: 0.9s, 1s;
      animation-timing-function: linear, ease-out;
      animation-iteration-count: infinite, 1;
      animation-play-state: paused, running;
      animation-fill-mode: backwards, forwards;
      animation-delay: 0s, 0.2s;
      z-index: 1;

      .roulette__card-back,
      .roulette__card-front {
        animation-name: flip;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
      }

      .roulette__card-front {
        border: 12px solid #f6d6bd;
        background-color: #f6d6bd;
        background-image: url('./images/imperial_emblem_front.svg');
        background-position: center center;
        background-attachment: scroll; 
        background-repeat: no-repeat;
        background-size: 300px;
        box-shadow: 0 0 0 3px #c3a38a inset;
      }
    }
  }

  &__button {
    border: 0 none;
    position: fixed;
    bottom: 36px;
    right: 36px;
    height: 64px;
    width: 64px;
    border-radius: 64px;
    background-color: #4e495f;
    z-index: 3;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: transparent;
    background-image: url('./images/spin.svg');
    background-position: center center;
    background-attachment: scroll; 
    background-repeat: no-repeat;
    background-size: 36px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      transform: scale(0.9) rotate(-67.5deg);
      box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    }
  }
}