.roulette {
  &__wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  &__container {
    position: relative;
    text-align: center;
    height: 300px;
    width: 100%;
  }

  &__card {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -110px;
    
    &-back,
    &-front {
      width: 220px;
      height: 300px;
      border-radius: 10px;
    }

    &-back {
      background-color: #997577;
      background-image: url('./images/imperial_emblem_back.svg');
      background-position: center center;
      background-attachment: fixed; 
      background-repeat: no-repeat;
      background-size: 125px;
      border: 12px solid #f6d6bd;
      box-shadow: 0 0 0 9px #997577 inset, 0 0 0 12px #f6d6bd inset;
      z-index: 2;
      backface-visibility: hidden;
    }

    &:first-child &-back {
      background-color: #816271;
      background-image: url('./images/imperial_emblem_front.svg');
      background-position: center center;
      background-attachment: fixed; 
      background-repeat: no-repeat;
      background-size: 125px;
      border: 12px solid #4e495f;
      box-shadow: 0 0 0 9px #816271 inset, 0 0 0 12px #4e495f inset;
    }

    &-front {
      margin-top: -300px;
      // background: #F0F;
      // border: 1px solid #0FF;
      z-index: 1;
    }
    
    &--spin {
      animation-name: spin;
      animation-duration: 0.9s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-fill-mode: backwards;
      animation-delay: 0s;

      &:nth-child(2) { animation-delay: 0.3s; }
      &:nth-child(3) { animation-delay: 0.6s; }
    }

    &--stop {
      opacity: 0;
      animation-name: spin, fade-out;
      animation-duration: 0.9s, 0.2s;
      animation-timing-function: linear, linear;
      animation-iteration-count: infinite, 1;
      animation-play-state: paused, running;
      animation-fill-mode: backwards, forwards;
      animation-delay: 0s, 0s;

      &:nth-child(2) { animation-delay: 0.3s, 0s; }
      &:nth-child(3) { animation-delay: 0.6s, 0s; }
    }

    &--selected {
      animation-name: spin, selected;
      animation-duration: 0.9s, 1s;
      animation-timing-function: linear, ease-out;
      animation-iteration-count: infinite, 1;
      animation-play-state: paused, running;
      animation-fill-mode: backwards, forwards;
      animation-delay: 0s, 0.2s;
      z-index: 1;

      & .roulette__card-back,
      & .roulette__card-front {
        animation-name: flip;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
      }
    }
  }

  &__button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
  }
}

@keyframes spin {
  0% {
    transform: translateX(150%) scale(0.5) rotate(10deg);
    opacity: 0;
  }

  50% {
    transform: translateX(0%) scale(1) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-150%) scale(0.5) rotate(-10deg);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {}

  100% {
    opacity: 0;
  }
}

@keyframes selected {
  0% {}

  100% {
    transform: translateY(0) scale(1.4) rotateY(180deg);
    opacity: 1;
  }
}

@keyframes flip {
  0% {}

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes fade-in {
  0% {}

  100% {
    opacity: 1;
  }
}